version: '2'

services:
  php:
    image: akeneo/php:7.1
    environment:
      COMPOSER_HOME: /home/docker/.composer
      PHP_IDE_CONFIG: 'serverName=php-migration-cli'
      XDEBUG_CONFIG: 'remote_host=xxx.xxx.xxx.xxx'
      PHP_XDEBUG_ENABLED: 0
    user: docker
    volumes:
      - ./:/home/docker/migration
      - ~/.config/composer:/home/docker/.composer
    working_dir: /home/docker/migration
    networks:
      - akeneo

networks:
  akeneo: ~
